<div id='sections'>
  <section id='general'>
    <h1><%= hud.title %></h1>
    <div class='description'>
      <% if(/^\s*$/.test(hud.venue_title)){ %>
        desc
        <%- hud.html_description %>
      <% } else { %>
        <p><%- hud.tagline %></p>
      <% } %>
      <p>Twitter: <strong>@<%= hud.twitter_account %></strong></p>
      <p>Hashtag: <strong>#<%= hud.twitter_hash_tag %></strong></p>
    </div>
  </section>

  <% if(hud.has_speakers){ %>
    <section id='speakers'>
      <h1><%= hud.title %></h1>
      <div class='description'>
        <% for(var i=0; i<speakers.length; i++) {%>
          <div class='speaker'>
            <h3><img src='<%= speakers[i].image %>' alt='<%= speakers[i].title %>'> <%= speakers[i].title %></h3>
            <span class='subtitle'><%= speakers[i].subtitle %></span>
          </div>
        <% } %>
      </div>
    </section>
  <% } %>

  <% if(hud.has_attendees){ %>
    <section id='attendees'>
      <% var times = Math.ceil((1000*700/2500)/attendees.length) %>
      <h1><%= hud.title %></h1>
      <div class='avatars'>
          <% for(var j=0; j<times; j++) { %><% for(var i=0; i<attendees.length; i++) {%><img src='<%= attendees[i].image %>' alt='<%= attendees[i].title %>'><% } %><% } %></div>
    </section>
  <% } %>

  <% if(hud.venue_title.length > 0){ %>
    <section id='location'>
      <h1><%= hud.title %> - Location</h1>

      <div id='map'></div>
      <script type='text/javascript'>

      var map = mapbox.map('map');
      map.addLayer(mapbox.layer().id('andrewnez.map-8j2hw1bf'));
      map.zoom(16).center({ lat: <%= hud.venue_latitude %>, lon: <%= hud.venue_longitude %> });
    
      var markerLayer = mapbox.markers.layer();
      mapbox.markers.interaction(markerLayer);
      map.addLayer(markerLayer);
    
      markerLayer.add_feature({
            geometry: {
                coordinates: [<%= hud.venue_longitude %>, <%= hud.venue_latitude %>]
            },
            properties: {
                'marker-color': '#000',
                'marker-symbol': 'star-stroked',
                'marker-size': 'large',
                title: '<%= hud.venue_title %>',
                description: '<%= hud.venue_subtitle %>'
            }
        });
        setTimeout(function(){markerLayer.markers()[0].showTooltip()}, 500)
      </script>
    </section>
  <% } %>

  <!--
  <section id='tweets'>
    <h1><%= hud.title %> - Tweets</h1>
  </section>

  <section id='speakers'>
    <h1><%= hud.title %> - Speakers</h1>
  </section>

  <section id='schedule'>
    <h1><%= hud.title %> - Schedule</h1>
  </section>

  <section id='staff'>
    <h1><%= hud.title %> - Staff</h1>
  </section> -->
</div>